@import '../layouts/variables.css';

.about {
  position: relative;
}

.container {
  composes: container from '../layouts/container.css';
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.85);
}

.inner {
  composes: container-inner from '../layouts/container.css';
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 750px;
  padding-top: 50px;

  @media (width <= 1024px) {
    max-width: none;
    padding-top: 50vh;
  }

  @media (--mobile) {
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 100vw;
  }
}

.title {
  composes: title from '../layouts/index.css';

  & :global(br) {
    display: none;

    @media (--mobile) {
      display: block;
    }
  }
}

.description {
  composes: subtitle from '../layouts/index.css';
}

.bg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #F0F0F2;
}

.bgImg {
  position: sticky;
  bottom: 0;
  top: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
  object-position: bottom right;
}
