@import "../layouts/variables.css";

.container {
  position: sticky;
  bottom: 0;
  top: auto;
  composes: container from "../layouts/container.css";
  left: 0;
  right: 0;
  z-index: var(--z-index-footer);
  text-align: center;
  font-size: 1.2rem;
}

.inner {
  composes: containerInner from "../layouts/container.css";
  padding: 9rem 0;
}

.logo {
  display: inline-block;
}

.title {
  font-size: 2.4rem;
  color: var(--yellow);

  @media (width <= 1024px) {
    font-size: 2.1rem;
  }

  @media (--mobile) {
    font-size: 1.6rem;
  }
}

.learnMore {
  font-size: 0.9rem;
}

.learnMoreCta {
  text-decoration: underline;
}
