@import '../layouts/root.css';

.header {
  position: fixed;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
  z-index: 1;
  /*mix-blend-mode: lighten;*/
}

.logo {
  display: inline-block;
}

.nav {

}
