@import '../layouts/root.css';

.logo {
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 1.5rem;
}

.name,
.subtitle {
  display: inline-block;
}

.name {
  box-shadow: inset -2px -1px 0 #000, inset 0px -2px 0 #FFF, inset 0px -3px 0 #000, inset 0px -4px 0 #FFF;
  animation: appear 1s var(--ease-in-out-quint);
}

.subtitle {
  color: var(--red);
  animation: appear 1s 100ms var(--ease-in-out-quint) backwards;
}

@keyframes appear {
  0% { transform: translate3d(0, -10px, 0) rotateZ(-10deg); opacity: 0; }
  100% { transform: translate3d(0, 0, 0); opacity: 1; }
}
