@import '../layouts/variables.css';

.logo {
  font-weight: 600;
  text-align: center;
  font-size: 1.4rem;

  @media (--mobile) {
    font-size: 1.1rem;
  }
}

.name,
.subtitle {
  display: inline-block;
  position: relative;
}

.name {
  animation: appear 1s var(--ease-in-out-quint);
  color: white;
  @apply --underlined-double;
}

.subtitle {
  color: var(--red);
  animation: appear 1s 100ms var(--ease-in-out-quint) backwards;
}

@keyframes appear {
  0% { transform: translate3d(0, -10px, 0) rotateZ(-10deg); opacity: 0; }
  100% { transform: translate3d(0, 0, 0); opacity: 1; }
}
