@import '../layouts/variables.css';
@import '../layouts/animations.module.css';

.transition {
  position: fixed;
  top: 0;
  left: -50vw;
  width: 200vw;
  height: 100vh;
  background-color: var(--red);
  z-index: var(--z-index-transition);
  visibility: hidden;
}

.isAnimating {
  visibility: visible;
  animation: pageTransition 1.2s var(--ease-in-out-quint) both;
}


.enter {
  display: none;
}
