@import "../layouts/variables.css";

:root {
  --titleBaseFontSize: 7.5rem;
  --titleBaseLineHeight: 6.2rem;

  --socialLinksBaseFontSize: 2rem;
  --socialLinksBaseLineHeight: 1.8rem;

  --localDatefontSize: 1rem;
}

.about {
  position: relative;
}

.container {
  composes: container from "../layouts/container.css";
}

.containerLight {
  composes: container;
  background-color: #191919;
}

.hero {
  position: relative;
}

.heroInner {
  composes: container from "../layouts/container.css";
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.85);
  min-height: 97vh;
}

.heroContent {
  composes: containerInner from "../layouts/container.css";
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  padding-bottom: 0;
  margin-bottom: -2rem;
  margin-left: -20rem;
  font-weight: 800;
  font-style: italic;
  font-size: var(--titleBaseFontSize);
  line-height: var(--titleBaseLineHeight);

  @media (min-width: 320px) and (max-width: 960px) {
    font-size: calc(
      var(--titleBaseFontSize) + 100 * (100vw - 320px) / (960 - 320)
    );
    line-height: calc(
      var(--titleBaseLineHeight) + 85 * (100vw - 320px) / (960 - 320)
    );
  }

  @media (min-width: 960px) {
    font-size: calc(var(--titleBaseFontSize) + 100px);
    line-height: calc(var(--titleBaseLineHeight) + 85px);
  }

  & :global(span:nth-of-type(1)) {
    font-size: 1.25em;
  }

  & :global(span:nth-of-type(3)) {
    margin-left: -0.1em;
    outline: 50px solid transparent;
    filter: url(#filter-glitch-1);
  }

  @media (--tablet) {
    padding-top: 20vh;
    padding-bottom: 80vh;
    margin: 0 auto;
  }
}

.inner {
  composes: containerInner from "../layouts/container.css";
  display: flex;

  @media (--mobile) {
    justify-content: flex-start;
  }

  @media (--tablet) {
    flex-direction: column;
  }
}

.description {
  composes: subtitle from "../layouts/index.css";
  margin-bottom: 3rem;
}

.shortBio {
  margin-bottom: 4rem;
}

.email {
  font-family: var(--font-family-headings);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
}

.bg {
}

.bgImg {
  height: auto;
  transform: skewX(-10deg);
}

.socialLinks {
  margin: 12em 0 0 4em;

  & li:nth-child(1) {
    margin-left: 0.7em;
  }

  & li:nth-child(2) {
    margin-left: 0.3em;
  }

  & li:nth-child(4) {
    margin-left: -0.4em;
  }

  @media (--mobile) {
    margin-left: auto;
    margin-right: auto;
  }
}

.socialLink {
  @apply --heading;
  color: white;
  font-size: var(--socialLinksBaseFontSize);
  line-height: var(--socialLinksBaseLineHeight);

  @media (min-width: 320px) and (max-width: 960px) {
    font-size: calc(
      var(--socialLinksBaseFontSize) + 60 * (100vw - 320px) / (960 - 320)
    );
    line-height: calc(
      var(--socialLinksBaseLineHeight) + 55 * (100vw - 320px) / (960 - 320)
    );
  }

  @media (min-width: 960px) {
    font-size: calc(var(--socialLinksBaseFontSize) + 60px);
    line-height: calc(var(--socialLinksBaseLineHeight) + 55px);
  }

  &:before {
    position: absolute;
    content: attr(data-name);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    margin-top: -0.15em;
    margin-left: -0.15em;
  }
}

.bioContainer {
  composes: containerInner from "../layouts/container.css";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.bio {
  grid-column: 1/11;
  margin-bottom: 0;

  @media (--mobile) {
    grid-column: full;
  }
}

.localDate {
  composes: containerInner from "../layouts/container.css";
  @apply --heading;
  color: white;
  font-size: var(--localDatefontSize);

  @media (min-width: 320px) and (max-width: 1140px) {
    font-size: calc(
      var(--localDatefontSize) + 30 * (100vw - 320px) / (1140 - 320)
    );
  }

  @media (min-width: 1140px) {
    font-size: calc(var(--localDatefontSize) + 30px);
  }

  @media (--mobile) {
    text-align: center;
  }
}

.localDateTime {
  margin-left: 1rem;
  font-size: 1.5em;

  @media (--mobile) {
    display: inline-block;
    margin-top: 0.5rem;
  }
}

.flag {
  outline: 20px solid transparent;
  display: inline-block;
  filter: url(#filter-wave-1);
}
