@keyframes scaleDown {
  0% { transform: scale(1); opacity: 1; }
  90% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(0.7); opacity: 0; }
}

@keyframes appear {
  0% { transform: translate3d(0, 100px, 0) rotateZ(5deg); opacity: 0; }
  100% { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes appearFlat {
  0% { transform: translate3d(0, 40px, 0); opacity: 0; }
  100% { transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes pageTransition {
  0% { transform: translate3d(0, 125vh, 0) rotateZ(10deg); }
  50% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, -125vh, 0) rotateZ(-10deg); }
}

@keyframes appearLeft {
  0% { transform: translate3d(1.4em, 1.5em, 0) rotateZ(10deg); opacity: 0; }
  28% { transform: translate3d(1.4em, 0, 0); }
  38% { transform: translate3d(1.4em, 0, 0); opacity: 1; }
  54% { transform: translate3d(0, 0, 0); }
}

@keyframes appearRight {
  0% { transform: translate3d(-1.4em, 1.5em, 0) rotateZ(10deg); opacity: 0; }
  28% { transform: translate3d(-1.4em, 0, 0); }
  38% { transform: translate3d(-1.4em, 0, 0); opacity: 1; }
  54% { transform: translate3d(0, 0, 0); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes disappearRight {
  70% { opacity: 0;  }
  100% { transform: translate3d(0, -90px, 0) rotateZ(-5deg); opacity: 0; }
}
