@import "./variables.css";

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem;

  @media (--mobile) {
    padding: 2rem;
  }
}

.container-inner {
  padding: 6rem 0;

  @media (--mobile) {
    padding: 3rem 0;
  }
}

@supports (display: grid) {
  .container {
    display: grid;
    grid-template-columns:
      [full-start] minmax(2rem, 1fr) [main-start] minmax(0, var(--max-width))
      [main-end] minmax(2rem, 1fr) [full-end];
    max-width: initial;
    padding: 0;

    @media (--mobile) {
      grid-template-columns:
        [full-start] minmax(1rem, 1fr) [main-start] minmax(0, var(--max-width))
        [main-end] minmax(1rem, 1fr) [full-end];
    }
  }

  .container-inner {
    grid-column: main;
  }
}
