/* cooper-hewitt-800italic - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  src:
    local('Cooper Hewitt ExtraBold italic'),
    local('Cooper Hewitt-ExtraBolditalic'),
    url('../assets/fonts/cooper-hewitt-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/cooper-hewitt-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/fonts/cooper-hewitt-800italic.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/cooper-hewitt-800italic.svg#Cooper Hewitt') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 800;
}

/* cooper-hewitt-600normal - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  src:
    local('Cooper Hewitt SemiBold normal'),
    local('Cooper Hewitt-SemiBoldnormal'),
    url('../assets/fonts/cooper-hewitt-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/cooper-hewitt-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/fonts/cooper-hewitt-600.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/cooper-hewitt-600.svg#Cooper Hewitt') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 600;
}

/* cooper-hewitt-600italic - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  src:
    local('Cooper Hewitt SemiBold italic'),
    local('Cooper Hewitt-SemiBolditalic'),
    url('../assets/fonts/cooper-hewitt-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/cooper-hewitt-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/fonts/cooper-hewitt-600italic.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/cooper-hewitt-600italic.svg#Cooper Hewitt') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 600;
}

/* cooper-hewitt-400normal - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  src:
    local('Cooper Hewitt Regular normal'),
    local('Cooper Hewitt-Regularnormal'),
    url('../assets/fonts/cooper-hewitt-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/cooper-hewitt-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/fonts/cooper-hewitt-400.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/cooper-hewitt-400.svg#Cooper Hewitt') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

/* cooper-hewitt-100normal - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  src:
    local('Cooper Hewitt Thin normal'),
    local('Cooper Hewitt-Thinnormal'),
    url('../assets/fonts/cooper-hewitt-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/cooper-hewitt-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/fonts/cooper-hewitt-100.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/cooper-hewitt-100.svg#Cooper Hewitt') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 100;
}

/* cooper-hewitt-100italic - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  src:
    local('Cooper Hewitt Thin italic'),
    local('Cooper Hewitt-Thinitalic'),
    url('../assets/fonts/cooper-hewitt-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/cooper-hewitt-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/fonts/cooper-hewitt-100italic.woff') format('woff'), /* Modern Browsers */
    url('../assets/fonts/cooper-hewitt-100italic.svg#Cooper Hewitt') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 100;
}
