@import 'normalize.css';
@import 'basscss/css/basscss.css';

@import './variables.css';
@import './container.css';

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background-color: rgba(255, 241, 124, 0.99);
  color: black;
  opacity: 1;
  text-shadow: none;
}

body {
  font-family: Cooper Hewitt, var(--font-family-sans-serif);
  background-color: var(--black);
  color: white;
  overflow-y: scroll;
  min-height: 100vh;
  font-size: 1.3rem;
  font-weight: 200;

  @media (width <= 1024px) {
    font-size: 1.1rem;
  }

  @media (--mobile) {
    font-size: 0.875rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 400;
}

h1 {
  margin-bottom: 1rem;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.7em;

  & a {
    color: white;
    @apply --underlined-double;
  }
}

a {
  color: var(--red);
  text-decoration: none;
  transition: color 150ms;

  &:hover {
    color: white;
  }
}

blockquote {
  font-style: italic;
  margin: 2rem 0;
}

.title {
  font-size: 5rem;

  @media (width <= 1024px) {
    font-size: 3.2rem;
  }

  @media (--mobile) {
    font-size: 2.6rem;
  }
}

.subtitle {
  font-size: 3rem;
  color: var(--yellow);

  @media (width <= 1024px) {
    font-size: 2.1rem;
  }

  @media (--mobile) {
    font-size: 1.6rem;
  }
}

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}
