@import "./variables.css";
@import "./container.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

h1 {
  margin-bottom: 1rem;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;

  & a {
    color: white;
    @apply --underlined-double;
  }
}

a {
  color: var(--red);
  transition: color 150ms;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

b,
strong {
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: var(--grey-1);
}

blockquote {
  font-style: italic;
  margin: 2rem 0;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 5rem;
  font-family: var(--font-family-headings);

  @media (width <= 1024px) {
    font-size: 3.2rem;
  }

  @media (--mobile) {
    font-size: 2.6rem;
  }
}

.subtitle {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--red);
  font-family: var(--font-family-headings);

  @media (width <= 1024px) {
    font-size: 2.1rem;
  }

  @media (--mobile) {
    font-size: 1.6rem;
  }
}

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.grid {
  grid-template-columns: repeat(12, 1fr);
}

.col-full {
  grid-column: 1 / span 12;
}

.col-centered {
  grid-column: 3 / span 9;
}
