:root {
  --font-family-sans-serif:
    /* Safari for OS X and iOS (San Francisco) */
    -apple-system,
    /* Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android */
    system-ui,
    /* Chrome < 56 for OS X (San Francisco) */
    BlinkMacSystemFont,
    /* Windows */
    "Segoe UI",
    /* Android */
    "Roboto",
    /* Basic web fallback */
    "Helvetica Neue", Arial, sans-serif;

  --red: #F67979;
  --yellow: #FFF17C;

  --underlined: {
    text-shadow: 2px 1px 0 #000, -2px 1px 0 #000, -2px -2px 0 #000;
    box-shadow: inset -2px -1px 0 #000, inset 0 -2px 0 #fff, inset 0 -3px 0 #000, inset 0 -4px 0 #fff;
  };

  --ease-in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  --ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);

  --z-index-header: 10;
  --z-index-intro: 9;

  @custom-media --max-width (width <= 1140px);
}
