:root {
  --font-family-sans-serif:
    /* Safari for OS X and iOS (San Francisco) */
    -apple-system,
    /* Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android */
    system-ui,
    /* Chrome < 56 for OS X (San Francisco) */
    BlinkMacSystemFont,
    /* Windows */
    "Segoe UI",
    /* Android */
    "Roboto",
    /* Basic web fallback */
    "Helvetica Neue", Arial, sans-serif;

  --black: #000;
  --red: #F67979;
  --yellow: #FFF17C;
  --grey-1: #79868E;

  --underlined-double: {
    position: relative;

    &:before,
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      top: calc(100% - 0.15em);
      left: 0;
      border-bottom: 1px solid white;
    }

    &:after {
      margin-top: 2px;
    }
  }

  --heading {
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
  }

  --ease-in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  --ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  --ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  --ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);

  --z-index-transition: 10;
  --z-index-header: 9;
  --z-index-intro: 8;
  --z-index-projects: 7;
  --z-index-footer: 6;

  @custom-media --max-width (width <= 1140px);
  @custom-media --mobile (width <= 600px);
}
